<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="iAnnounce.prototype.version1" android:versionCode="1"
	android:versionName="1.0">
	<uses-library android:name="com.google.android.maps" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

	<application android:label="@string/app_name" android:theme="@style/generaltitle"
		android:debuggable="true" android:icon="@drawable/logo_small"
		android:allowClearUserData="true">
		<activity android:label="@string/app_name" android:name=".Login"
			android:windowSoftInputMode="stateHidden" android:theme="@style/generalnotitle">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>


		<activity android:name="HomePage"></activity>
		<activity android:name="NewsFeed"></activity>
		<activity android:name="Announce"></activity>
		<activity android:name="Registeration"></activity>
		<activity android:name="MyAnnouncments"></activity>
		<activity android:name="UserProfile"></activity>
		<activity android:name="EditProfile"></activity>
		<activity android:name="MyProfile"></activity>
		<activity android:name="CommentActivity"></activity>
		<activity android:name=".optionAct" android:label="Options"></activity>
		<activity android:name="MapDisp"></activity>
		<activity android:name="Act_abt"></activity>
		<activity android:name=".MyMapAct"></activity>
		<activity android:name=".AnnouncementDetail"></activity>
		<activity android:name=".Community"></activity>
		<activity android:name=".NewCommunity"></activity>
		<activity android:name=".CommunityHome"></activity>
		<activity android:name=".NeighbourLocations"></activity>
		<activity android:name=".ShowLocations"></activity>
		<service android:name="iAnnounceService" />



		<uses-library android:name="com.google.android.maps" />

	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


</manifest> 